<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TP07 - PreguntadORT</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
         <header>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">PreguntadORT</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">PreguntadORT</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active"  href="Index.html">Inicio</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link active"  href="Juego.html">Jugar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  href="ConfigurarJuego.html">Configuración</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.google.com.ar/?hl=es">Salir</a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
    </header>
        <div style="padding:20px 10px 0px 10px;">
            @RenderBody()
        </div>

        <footer>
                &copy; @DateTime.Now.Year - Taller de Programación - TP07
        </footer>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

<!-- En la navbar debe estar el link a Jugar (invoca a ConfigurarJuego) y el logo del juego (lo crean ustedes)-->